cache.sh
cache*
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/web/css/
/web/js/
/web/images/
/web/app/
/web/pdf/
/backups/
.phpcomplete_extended/
.idea/
.phpintel/*
tags
*~
*.swp
*.swo
*.orig
*~Stashed changes
web/uploads/*
web/media/*
.DS_Store
.buildpath
.project
.settings/
cachecleaner.sh
.vagrant/
tests/
/var/uploads/*
