{% extends 'CheeneBackendBundle:Common:base.html.twig' %}
{% import '@CheeneBackend/Common/toolbox.html.twig' as toolbox %}

{% block title %}
    مدیریت اسلایدر
{% endblock title %}

{% block body -%}
    <h3 class="page-title">
        مدیریت اسلایدر
    </h3>
    <div class="page-bar">
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                {#<a href="{{ path('backend_user_create_new') }}" id="add_new_user" class="btn blue btn">{% trans from "buttons" %}button.users.new{% endtrans %}</a>#}
            </div>
        </div>
    </div>

    <div class="col-md-12">
        {{ datatable_render_html(datatable) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ datatable_render_js(datatable) }}
{% endblock %}
