# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     3306
    database_name:     vakilyar_db
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    domain: cheene.local
    panel_domain: backend.ieio.local
    project_name: "Vakilyar"
    locale: fa
    redis_default: 'redis://localhost'
    redis_session: 'redis://localhost/2'
    redis_cache: 'redis://localhost/2'

    telegram_bot_name: ~
    telegram_bot_api_token: ~
    email_from: noreply@ieio.ir
    email_to: rseyf2017@gmail.com