
@font-face {
  font-family: 'IRANSans';
  src: url('IRANSans.eot?#iefix') format('embedded-opentype'),  url('IRANSans.woff') format('woff'), url('IRANSans.ttf')  format('truetype'), url('IRANSans.svg#IRANSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
