{% extends '@CheeneBackend/Common/base.html.twig' %}

{% block body %}
	<div style="text-align:center;">
		{#{{ dump(data) }}#}
	    {#{% image 'bundles/cheenebackend/images/logo-large.png' %}#}
	    	{# <img src="{{ asset_url }}" class="img-responsive" width="500px" /> #}
	    {#{% endimage %}#}
	</div>
{% endblock %}

